<h4>Game Name</h4>
<h4 id="game-name-header"></h4>
<div id="name-form">
	<div class="form-group">
	    <label for='game-name'>Game Name</label>
	    <input type='text' class="form-control" id='game-name'>
	</div>
	<button type="button" id="add-game-name" class="btn btn-default">Add Game Name</button>
</div>

<h4 id="player-name-header" class="hidden">Current Players</h4>

<div id="players-form" class="hidden">
	<div id="current-players"></div>
	<div class="form-group">
	    <label for='player-name'>Player Name</label>
	    <input type='text' class="form-control" id='player-name'>
	</div>

	<button type="button" id="add-player" class="btn btn-default">Add Player</button>
</div>
<p id="max-warning" class="hidden">Maximum number players reached!</p>
<button type="button" id="start-game" class="btn btn-default hidden">Start Game</button>