<!DOCTYPE html>
<html>
<head>
  <title>Square Roots Gardens</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--  Photo Credit: <a style="opacity: 0" href="http://www.flickr.com/photos/34123770@N05/4018574575/">Visualogist</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by-nc/2.0/">cc</a> -->
  <link href='http://fonts.googleapis.com/css?family=Mouse+Memoirs' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
    <%= yield %>
</body>
</html>
