<div id='contact'>
  <div id="page-header" class="row">
    <%= image_tag "601657_574921332538198_1146145935_n.jpg", class: "banner" %>
  </div>
  <div class="hidden-title">
    <h1>Contact us</h1>
  </div>
  <div class="container">

    <div class="row">
    </div>
  </div>
</div>

