<div id='contact' class="container">
  <div id="page-header" class="row">
    <%= image_tag "601657_574921332538198_1146145935_n.jpg", class: "banner" %>
  </div>
    <div>
      <h1>Contact us</h1>
    </div>
    <div class="row">

  </div>
</div>

