#accordion
  -if(@hash_userfeeds)
    -@hash_userfeeds.each_pair do |category, arr_userfeeds|
      %h4
        =category
      %div
        %ul
          -arr_userfeeds.each do |userfeed|
            %li
              =link_to "#{userfeed.feed.title}", {controller: "feeds", action: "show", id: userfeed.feed.id}, id: userfeed.id



    /     %li
    /       %a{:href => "#tabs-#{i}"}=category

    / - i = 0
    / -@hash_userfeeds.each_pair do |category, arr_userfeeds|
    /   - i+= 1
    /   %div{id: "tabs-#{i}"}
    /     %ul.feeds


