%h2 Your Feeds
%br
%br

#accordion
  -if(@hash_userfeeds)
    -@hash_userfeeds.each_pair do |category, arr_userfeeds|
      %h4
        -entryusers = current_user.entry_users
        =category
      %div.accordion-list
        %ul
          -arr_userfeeds.each do |userfeed|
            %li
              =link_to "#{userfeed.feed.title}", {controller: "feeds", action: "show", id: userfeed.feed.id}, id: userfeed.id
              - unread=entryusers.where('read is NULL AND feed_id = ? OR read = false AND feed_id = ? ',userfeed.feed_id, userfeed.feed_id).count
              |
              %span.unread-count
                #{unread}
                Unread
