%a.twitter-share-button{"data-count" => "horizontal", "data-text" => "''#{twitter[:title]}''", "data-url" => "#{twitter[:url]}", :href => "http://twitter.com/share"} Tweet

%script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}

/ "data-via" => "MyTwitterAccountUsername" Add this to put our blogs username