.feed-view-list

  .feed-view-title

    %h2=@feed.title

    .feed-view-title-details.clearfix

      -if @feed.last_modified
        %p.feed-view-details="Last updated on: #{@feed.last_modified.strftime("%a %d %b %Y")}"

  %ul
    -@twitter = {}

    -@entries.each do |entry|
      -@twitter[:title] = entry.title; @twitter[:url] = entry.url;

      %li.entry{style:"list-style-type: none;", :data => {:entry_id => entry.id}}
        %h4.entry-title{id: "read#{entry.id}"}
          =entry.title


        .content.hide{id: entry.guid}
          |
          =link_to "Reading View", entry_path(entry.id), class: "reader-view"
          |
          =link_to "View Original", entry.url, data: { confirm: "Are you sure?" }
          |
          =link_to "Close", {remote: true}, class: "hide-content"
          |
          %br
          %br

          %p
            - if entry.author
              =entry.author
              wrote this on
              =entry.published.strftime("%a %d %b %Y")
            - else
              Published on
              =entry.published.strftime("%a %d %b %Y")
          %br

          %p=raw entry.content
          %br

          .feed-actions
            |
            =link_to "Mark Unread", {remote: true}, :data => {:entry_id => entry.id}, style: "text-align: right;", class: "unread"
            |
            =link_to "Archive", {remote: true}, :data => {:entry_id => entry.id}
            |
            =link_to "Favourite", {remote: true}, :data => {:entry_id => entry.id}, class: "favourite"
            |
            = render partial: 'twitter', object: @twitter
            %br
            %br
=paginate @entries

