%h1=@feed.title
%h4="Last Modified at: #{@feed.last_modified}"
%ul
  -@feed.entries.each do |entry|
    %li{class:"entry",style:"list-style-type: none;", :data => {:entry_id => entry.id}}
      %h3=entry.title
      %h4=entry.author
      %h5=entry.published
      %div{id: entry.guid,class: "hide"}
        %h5= raw entry.content
        =link_to "Read Article", entry.url, data: { confirm: "Are you sure?" }
