%h1=@feed.title
%h4="Last Modified at: #{@feed.last_modified}"
%ul
  -@feed.entries.each do |entry|
    %li{class:"entry",style:"list-style-type: none;", :data => {:entry_id => entry.id}}
      %h3=entry.title
      %h4=entry.author
      %h5=entry.published
      %div{id: entry.guid, class: "hide"}
        =link_to "Reading View", entry_path(entry.id), class: "reader-view" 
        |
        =link_to "View Original", entry.url, data: { confirm: "Are you sure?" }
        %h5=raw entry.content
