body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #398439;
}

#loading-page {
	height: 100%;
	width: 100%;
	z-index: 100;
	position: absolute;
	background: #398439;
}

#loading-page h1, h2 {
	color: #fff;
	width: 20%;
	height: 10%;
	margin-left: 40%;
	text-align: center;
}

#pulse-circle {
	border: 5px solid #999;
	-webkit-border-radius: 50px;
	height: 50px;
	width: 50px;
	-webkit-animation: pulsate 0.5s ease-out;
	-webkit-animation-iteration-count: infinite; 
	opacity: 0.0;
	position: fixed;
	float: left;
	margin-left: 48%;
}

@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
	50% {opacity: 1;}
	100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}


.hide {
	display: none !important;
}

#container {
	width: 100%;
	height: 80%;
}

.card {
	width: 7.692307692%;
	display: inline-block;
	text-align: center;
	vertical-align: center;
	height: 25%;
	background-image: url(cardback.jpg);
	background-size: 100% 100%;
	-webkit-border-radius: 5px;
	float: left;
	position: relative;
}

.card p {
	display: none;
	-webkit-transform: scaleX(-1);
}

.destroy-card {
	display: inline-block;
	background: #398439 !important;
	-webkit-box-shadow: none !important;
	color: #398439 ;
}

.destroy-card p {
	display: none !important;
}
	
.flip-card {
	-webkit-transform: rotateY(180deg);
	-webkit-transition: all 0.5s;
	-webkit-transform-style: preserve-3d;
	-webkit-transition-timing-function: ease-in;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 17px 17px 4px 0px rgba(50, 50, 50, 0.2);
	background: #fff;
}

.flip-card.heart {
	-webkit-transform: background-image;
	background-image: url(heart.jpeg);
	background-size: 100% 100%;
	color: black !important;
}

.flip-card.spade {
	-webkit-transform: background-image;
	background-image: url(spade.jpeg);
	background-size: 100% 100%;
	color: #fff !important;
}

.flip-card.club {
	-webkit-transform: background-image;
	background-image: url(club.jpeg);
	background-size: 100% 100%;
	color: #fff !important;
}

.flip-card.diamond {
	-webkit-transform: background-image;
	background-image: url(diamond.jpeg);
	background-size: 100% 100%;
	color: black !important;
}

.flip-card p {
	display: block;
	-webkit-transition: display 0.6s;
	top: 30%;
	position: absolute;
	
}

#controls {
	height: 20%;
	width: 100%;
	display: block;
}

#deal-deck {
	height: 20%;
	width: 10%;
	float: left;
	color: #fff;
	padding: 0.25%;
	font-size: 150%;
}

#player-one, #player-two {
	display: block;
	float: left;
	height: 31%;
	padding: 1%;
	width: 31%;
}

#player-one-score, #player-two-score {
	display: block;
	float: right;
	height: 31%;
	padding: 1%;
	width: 31%;
}

#player-one-turns, #player-two-turns {
	display: block;
	float: right;
	height: 31%;
	padding: 1%;
	width: 31%;
}

#turn {
	display: block;
	float: left;
	height: 31%;
	padding: 1%;
	width: 31%;
}

#score {
	display: block;
	float: right;
	height: 31%;
	padding: 1%;
	width: 31%;	
}

#number-turns {
	display: block;
	float: right;
	height: 31%;
	padding: 1%;
	width: 31%;	
}

.selected {
	color: red;
}

#player-wrapper {
	display: block;
	width: 30%;
	height: 100%;
	float: right;
	padding: 0.25%;
	color: #fff;
	font-size: 150%;
}

#duplicate-alert {
	height: 20%;
	width: 50%;
	float: left;
	color: #fff;
	padding: 0.25%;
	font-size: 150%;
}


#game-over {
	height: 100%;
	width: 100%;
	z-index: 100;
	position: absolute;
	background: #398439;
}

#game-over h1, h2 {
	color: #fff;
	width: 60%;
	height: 10%;
	margin-left: 20%;
	text-align: center;
}

#play-again {
	color: #fff;
	width: 60%;
	height: 10%;
	margin-left: 20%;
	font-size: 120%;
	text-align: center;
}
