body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #398439;
}

#loading-page {
	height: 100%;
	width: 100%;
	z-index: 200;
	position: absolute;
	background: #398439;
}

#loading-page h1, h2 {
	color: #fff;
	width: 20%;
	height: 10%;
	margin-left: 40%;
	text-align: center;
}

#loader-wrapper {
	position: relative;
}

input, button {
	width: 10%;
	height: 5%;
	left: 45%;
	position: absolute;
	text-align: center;
	font-size: 120%;
}

#player-one-input {
	top: 50%;
}

#player-two-input {
	top: 56%;
}

button {
	top: 62%;
}

@-webkit-keyframes spin {
	to { 
		-webkit-transform: rotate(1turn); 
	}
}

.progress {
	left: calc(50% - 3em);
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	-webkit-animation: spin 1s infinite steps(8);
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; 
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	-webkit-box-shadow: 0 3.5em #eee; 
	-webkit-transform-origin: 50% 2.5em; 
}

.progress:before {
	background: #555;
}

.progress:after {
	-webkit-transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	-webkit-transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	-webkit-transform: rotate(-135deg);
	background: #bbb;
}

.hide {
	display: none !important;
}

#container {
	width: 100%;
	height: 80%;
}

.card {
	width: 7.692307692%;
	display: inline-block;
	text-align: center;
	vertical-align: center;
	height: 25%;
	background-image: url(cardback.jpg);
	background-size: 100% 100%;
	-webkit-border-radius: 5px;
	float: left;
	position: relative;
	z-index: 100;
}

.card p {
	-webkit-transition: all 0.2s ease-in;
	height: 0%;
	width: 0%;
	overflow: hidden;
	opacity: 0; 
	font-family: 'Balthazar', serif;
	font-size: 140%;
}

.destroy-card {
	display: inline-block;
	background: #398439 !important;
	-webkit-box-shadow: none !important;
	color: #398439 ;
}

.destroy-card p {
	display: none !important;
	font-family: 'Balthazar', serif;
	font-size: 140%;
}
	
.flip-card {
	-webkit-transform: rotateY(180deg);
	-webkit-transition: -webkit-border-radius, color, -webkit-box-shadow, background-image, background-size, -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transform-style: preserve-3d;
	-webkit-transition-timing-function: ease-in;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 17px 17px 4px 0px rgba(50, 50, 50, 0.2);
	background: #fff;
		
}

.flip-card.heart {
	-webkit-transform: background-image;
	background-image: url(heart.jpeg);
	background-size: 100% 100%;
	color: black !important;

}

.flip-card.spade {
	-webkit-transform: background-image;
	background-image: url(spade.jpeg);
	background-size: 100% 100%;
	color: #fff !important;
}

.flip-card.club {
	-webkit-transform: background-image;
	background-image: url(club.jpeg);
	background-size: 100% 100%;
	color: #fff !important;
}

.flip-card.diamond {
	-webkit-transform: background-image;
	background-image: url(diamond.jpeg);
	background-size: 100% 100%;
	color: black !important;
}

.flip-card p {
	height: 10%;
	width: auto;
	overflow: visible;
	top: 30%;
	position: absolute;
	opacity: 1;
	font-family: 'Balthazar', serif;
	font-size: 140%;
}

/*Some work in progress: working on transitioning destroyed cards to burned cards pile*/

/*#burned-cards {
	width: 7.692307692%;
	display: inline-block;
	height: 25%;
	background-image: url(cardback.jpg);
	background-size: 100% 100%;
	-webkit-border-radius: 5px;
	float: right;
	position: absolute;
	z-index: 300;
	-webkit-transition: all 0.5s;

}

.duplicate {
	width: 7.692307692%;
	height: 100%;
	width: 100%;
	background-image: url(cardback.jpg);
	background-size: 100% 100%;
	-webkit-border-radius: 5px;
	float: left;
	position: relative;
	z-index: 300;
	-webkit-transition: all 0.5s;
}
*/
#controls {
	height: 20%;
	width: 100%;
	display: block;
}

#deal-deck {
	height: 20%;
	width: 7.192307692%;
	float: left;
	color: #fff;
	padding: 0.6%;
	font-size: 150%;
}

#player-one, #player-two {
	display: block;
	float: left;
	height: 23%;
	padding: 1%;
	width: 17%;
}

#player-one-score, #player-two-score, #pairs-matched-one, #pairs-matched-two {
	display: block;
	float: right;
	height: 23%;
	padding: 1%;
	width: 17%;
}

#player-one-turns, #player-two-turns {
	display: block;
	float: right;
	height: 23%;
	padding: 1%;
	width: 17%;
}

#player-one-mins, #player-one-secs, #player-two-mins, #player-two-secs {
	display: block;
	float: left;
	height: 23%;
	padding: 1%;
	width: 8%;
}

#turn, #time {
	display: block;
	float: left;
	height: 23%;
	padding: 1%;
	width: 17%;
}

#score, #pairs-matched {
	display: block;
	float: right;
	height: 23%;
	padding: 1%;
	width: 17%;	
}

#number-turns {
	display: block;
	float: right;
	height: 23%;
	padding: 1%;
	width: 17%;	
}

.selected {
	color: red;
}

#player-wrapper {
	display: block;
	width: 45.6%;
	height: 100%;
	float: right;
	padding: 0.25%;
	color: #fff;
	font-size: 150%;
}

#duplicate-alert, #selected-alert {
	height: 20%;
	width: 20%;
	float: left;
	color: #fff;
	padding: 0.6%;
	font-size: 150%;
}

#game-over {
	height: 100%;
	width: 100%;
	z-index: 400;
	position: absolute;
	background: #398439;
}



#game-over h1, h2 {
	color: #fff;
	width: 60%;
	height: 5%;
	margin-left: 20%;
	text-align: center;
}

#game-over-winner h1, h2 {
	color: #fff;
	width: 60%;
	height: 5%;
	margin-left: 20%;
	text-align: center;
}

#leaderboard h2 {
	color: #fff;
	width: 60%;
	height: 5%;
	margin-left: 20%;
	text-align: center;
}

#play-again {
	color: red;
	width: 60%;
	height: 5%;
	margin-left: 20%;
	font-size: 120%;
	text-align: center;
}

.leaders {
	color: #fff;
	width: 60%;
	height: 4%;
	margin-left: 20%;
	font-size: 120%;
	text-align: center;
}


