.entry-view
  
  .entry-view-header
    %p.entry-view-entry-url
      =@entry.feed.url

    %h1.entry-view-entry-title
      =@entry.title

    %p.entry-view-entry-info
      -if @entry.author
        =@entry.author
        wrote this on
        =@entry.published.strftime("%a %d %b %Y")
      - else
        Published on
        =@entry.published.strftime("%a %d %b %Y")
      
  .entry-view-body
    =raw @entry.content