.entry-view

  -@twitter = {}
  -@twitter[:title] = @entry.title; @twitter[:url] = @entry.url;

  .entry-view-header.clearfix
    %p.entry-view-entry-url
      =@entry.feed.url

    %h1.entry-view-entry-title
      =@entry.title

    %p.entry-view-entry-info
      -if @entry.author
        =@entry.author
        wrote this on
        =@entry.published.strftime("%a %d %b %Y")
      - else
        Published on
        =@entry.published.strftime("%a %d %b %Y")
      
  .entry-view-body
    =raw @entry.content

  .entry-view-footer
    |
    =link_to "View Original", @entry.url, data: { confirm: "Are you sure?" }
    |
    =link_to "Mark Unread", {remote: true}, :data => {:entry_id => @entry.id}, style: "text-align: right;", class: "unread"
    |
    =link_to "Archive", {remote: true}, :data => {:entry_id => entry.id}, class: "archive"
    |
    =link_to "Favourite", {remote: true}, :data => {:entry_id => @entry.id}, class: "favourite"
    |
    = render partial: 'feeds/twitter', object: @twitter
