<div class="header-text">
  <ul>
    <li><h2>Meet My Friends</h2></li>
    <li><h4>...click to expand</h4></li>
  </ul>
</div>

<div class ="friends">
<div class="isotopepage">
  <div class="isotopeleft">
    <div id="isotopecontainer">
      <div class="item-isotope">
        <h4>Al Cherry</h4>
          <p>Biog | Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <p><img src="/assets/Al_Cherry.jpg"></p>
          <p>Web | http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>Fiona Bevan</h4>
          <p>Biog | Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <p><img src="/assets/fiona_bevan.jpg"></p>
          <p>Web | http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>Sam Burgess</h4>
          <p>Biog | Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <p><img src="/assets/Sam_Burgess.jpg"></p>
          <p>Web | http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>Dave Price</h4>
          <p>Biog | Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <p><img src="/assets/Dave_Price.jpg"></p>
          <p>Web | http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>Christophe Capewell</h4>
          <p>Biog | Christophe Capewell is a multi-instrumentalist and composer, born in Sheffield and currently based in Dublin. Outside of his busy touring schedule as fiddle player for folk band Harry Bird and the Rubber Wellies, he is a composer of cinematic tunes and has written the music for various plays and short films, including the Carpet Theatre production ’50 Ways To Leave Dun Laoghaire’ and the Entre les Mots production 'Madam'. Due to his prolific workrate and the high demand for his bowing skills in Ireland, Christophe has also now over 30 albums to his name as a recording artist, providing either fiddle, piano or backing vocals (and sometimes all three!) for the following artists: Our Little Secrets, Pearse McGloughlin, Spool, Aisling Quinn, Readers Wives, Jenny Lindfors, Ben Kritikos, Herons!, Alyanya, Andy Blaikie, Lisa O’Neill, Nicola Williams, Fia Rua, Niall McGarty, Ciaran O’Neill, John Shelley and the Creatures, Virtigo Smith, Drunken Boat, Sweeney Lee and James Guilmartin. On more than one occasion he has been told, ‘You sound like the fiddle player in…..’, to which he is forced to reply, ‘That’s because I am!’.</p>
          <p><img src="/assets/christophe.jpg"></p>
          <p>Web | christophe321 [@] hotmail.com</p>
      </div>
      <div class="item-isotope">
        <h4>Harry Bird</h4>
          <p>Biog | Harry Bird is a singer-songwriter, composer, circus musician and lover of musical chairs. To date he has released two albums of his own songs, Long Way to Be Free (2009, Hot Drop Records) and The Bones on Black (2012, Hot Drop Records) with travelling folksters the Rubber Wellies, while at the same time maintaining an extensive annual tour schedule throughout much of Europe. He has composed the soundtrack to two acrobatic street shows, Echadas a la Mar (2009, Cia. Atropecias) and Vademécum (2012, Cia. De Bote en Bote), and performs regularly on the Spanish circus scene. Born in Cambridge and raised in Edinburgh, he has been living in Bilbao since 2003.</p>
          <p><img src="/assets/harry_bird.jpg"></p>
          <p>Web | http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
    </div>
  </div>

  <br>
  <br>
  
</div>
  <div class="isotopesidebar">
    <%= render 'layouts/menu' %>
  </div>
</div>
<br>
<br>

</div>