<div class="header-text">
  <h2>Meet My Friends</h2>
</div>

<div class ="friends">
<div class="isotopepage">
  <div class="isotopeleft">
    <div id="isotopecontainer">
      <div class="item-isotope">
        <h4>Al Cherry</h4>
          <p><img src="/assets/1.jpg"></p>
          <p>Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <p>http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>Fiona Bevan</h4>
          <p><img src="/assets/2.jpg"></p>
          <p>Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <p>http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>Sam Burgess</h4>
          <p><img src="/assets/3.jpg"></p>
          <p>Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <br>
          <p>http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>Dave Price</h4>
          <p><img src="/assets/5.jpg"></p>
          <p>Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <br>
          <p>http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>The Rubber Wellies</h4>
          <p><img src="/assets/5.jpg"></p>
          <p>Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <p>http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
      <div class="item-isotope">
        <h4>Harry Bird</h4>
          <p><img src="/assets/5.jpg"></p>
          <p>Chambray Thundercats mlkshk, chillwave adipisicing umami butcher kale chips Godard tofu +1. Paleo single-origin coffee lomo, Wes Anderson scenester hella cray aliquip. Tofu slow-carb elit veniam Portland polaroid. Asymmetrical Echo Park nostrud, mixtape dreamcatcher laborum consectetur delectus +1 Terry Richardson. Cred gluten-free ea direct trade est, Marfa delectus deserunt. Organic Austin selfies minim squid. Freegan gentrify DIY, laborum ethical whatever lomo laboris cupidatat in Blue Bottle sed drinking vinegar.</p>
          <p>http://harrybirdandtherubberwellies.bandcamp.com/</p>
      </div>
    </div>
  </div>
  
</div>
  <div class="isotopesidebar">
    <%= render 'layouts/menu' %>
  </div>
</div>

</div>