<div class="header-text">
  <h2>Meet My Friends</h2>
</div>


<div class="isotopepage">
  <div class="isotopeleft">
    <div id="isotopecontainer">
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
    </div>
  </div>
  
</div>
  <div class="isotopesidebar">
    <%= render 'layouts/menu' %>
  </div>
</div>