@import url("bootstrap.css");

#playing-board {
	max-width: 60%;
	margin-left: 5%;
	max-height: 90%;
}

.square-container {
	position: relative;
	width: 4.5%;
	padding-bottom: 4.5%;
	float: left;
	height: 0;
	margin: 1%;
}

.square {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}

