@import url("bootstrap.css");

body {
	background: #34495E;
	color: #ECF0F1;
	font-size: 100%;
}

#playing-board {
	max-width: 50%;
	margin-left: 15%;
	max-height: 50%;
}

.square-container {
	position: relative;
	width: 6%;
	padding-bottom: 6%;
	float: left;
	height: 0;
	margin: 0.3%;
}

.square {

	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background: #1ABC9C;
	text-align: center;
	font-size: 100%;
	word-wrap: normal;
	line-height: 100%;
}

.double-word, .start {
	background: #E67E22;
}

.double-letter {
	background: #3498DB;
}

.triple-word {
	background: #E74C3C;
}

.triple-letter {
	background: #9B59B6;
}

.tile-container {
	position: relative;
	padding-bottom: 11%;
	float: left;
	height: 0;
	margin: 0.6%;
}
.tile {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background: #F1C40F;
	text-align: center;
	font-size: 100%;
	word-wrap: normal;
	line-height: 100%;
}

.tile-rack {
	list-style: none;

}

.dragging {
	background: #F1C40F;
}


