<div id='sensecamp'>
  <div id="sensecamp-header">
    <div class="hidden-title">
      <h1>Sense Camp</h1>
    </div>

    <%= image_tag "sensecamp/banner.png", class: "banner" %>
    <div id="sensecamp-nav-bar">
      <div id='menu' class='menu'>
        <ul>
          <li>
            <h3><%= link_to "Agenda", sense_camps_path(anchor: "agenda") %></h3>
          </li>
          <li>
            <h3><%= link_to "Partners", sense_camps_path(anchor: "partners") %></h3>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class='row'>
      <div id="main-column" class="span9">
        <div class="section">
          <div class="item">
            <p>On June 28th 2014, MakeSense London brings together 200 <emph>Sense Makers</emph> from around the UK for an inspiring bar-camp on social enterprise. It’s a chance to collaborate on ideas, share knowledge, solve challenges for social entrepreneurs and extend the MakeSense community around the UK and Beyond.</p>
          </div>
          <div class="item">
            <p>SenseCamp is a bar camp dedicated to <emph>social business</emph>: It brings together social entrepreneurs, innovators, social business enthusiasts and the MakeSense gang for one full day of inspiring talks, interactive workshops and networking.</p>
          </div>
        </div>
        <div class="section" id="agenda">
          <h2>Agenda</h2>
          <div class="section">
            <p>We set the agenda in the morning. To host a session, anybody can pitch a topic to the crowd and we facilitate the decision. Some sessions, key-notes/pecha-kucha and Hold-Ups are planned in advance however.</p>
            <p>Sessions are generally participatory in nature, typically without powerpoint. SenseCampers vote with their feet and leave sessions they do not want to participate in. The format blurs traditional notions of speakers and listeners and creates a highly interactive experience of shared learning and development.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget pretium magna, vehicula vestibulum erat. Maecenas nec felis sollicitudin, sollicitudin turpis ultricies, sodales dui. Mauris lorem orci, molestie et justo vel, aliquam varius nunc. Phasellus et erat justo. Nullam mattis lectus eu urna elementum, ut adipiscing augue feugiat. Fusce varius lobortis dui eu aliquam. Sed cursus est lectus, sed accumsan libero cursus nec. Fusce eget elementum nisi. Nullam ut mauris egestas, sodales libero ut, rhoncus odio. Ut vestibulum libero non lacus fermentum, vel scelerisque enim suscipit. Cras massa tellus, imperdiet ut laoreet ut, molestie quis ante. Phasellus porta condimentum diam vitae ullamcorper. Duis luctus varius neque sit amet facilisis. Quisque condimentum eget nibh porta ultrices. Curabitur volutpat libero urna, vitae ornare augue porttitor quis. Aenean placerat libero rhoncus tellus bibendum, at elementum eros iaculis.

Vestibulum porta est id arcu euismod rhoncus. Donec eget cursus sapien. Aenean sit amet mattis augue. Nulla vel nunc nisl. Pellentesque vel tempus augue. Proin scelerisque nisl sed orci volutpat, ut pulvinar mi fermentum. Proin consectetur viverra ligula a dictum. Cras vitae ipsum quis erat posuere egestas at commodo diam. In risus nisi, volutpat a magna nec, sollicitudin elementum elit. Aliquam eget nibh iaculis, malesuada arcu non, gravida augue. Duis ut erat mattis, eleifend purus ac, tristique metus. Nam consequat dictum felis, eu vehicula magna molestie nec.

Mauris non imperdiet dui. Mauris semper dolor vitae diam aliquet, ac pulvinar lorem gravida. Integer vehicula ac elit vel vulputate. Maecenas elementum libero id dui pharetra adipiscing. Etiam eget luctus dui. Praesent accumsan, urna ut condimentum molestie, enim massa pellentesque dolor, vitae congue sem felis ac dolor. Vivamus vehicula eros vel pulvinar rutrum.

Nunc erat urna, eleifend eget ultrices sit amet, convallis viverra mi. Suspendisse bibendum ut eros nec ultrices. Suspendisse at euismod nulla. Nulla et porttitor nisi. Nullam tempor vel purus eu eleifend. Duis sagittis tempor libero, eget dapibus justo molestie ac. Donec dictum rhoncus purus, in hendrerit urna facilisis id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas euismod, justo eu vulputate placerat, quam nisl dapibus mauris, vitae scelerisque velit velit ut nisl. Etiam id ante id velit pharetra ornare vitae sed leo. Quisque malesuada ut velit eu vestibulum. Nullam justo nulla, commodo ut nulla eu, sollicitudin convallis felis.

Nam vestibulum ac lorem vitae rhoncus. Aliquam feugiat quam hendrerit purus sagittis, eu ornare nibh scelerisque. Aenean lacus est, pellentesque et lobortis a, dapibus at massa. Maecenas porta ligula id mollis varius. Vivamus sit amet pulvinar magna. Vestibulum tincidunt mi eu nunc placerat luctus. Sed ac nisl nisi.</p>
          </div>
        </div>
        <div class="section" id="partners">
          <h2>Partners</h2>
          <div>
            <p>To be announced soon.</p>
            <p>To apply to be a partner of SenseCamp please email the team.</p>
          </div>
        </div>

      </div> <!-- Finish main column -->

      <div id="floating-sidebar " class='span3'>
        <h2>SideBar</h2>
      </div>
    </div>
  </div>
</div>