<div class="homepage">
	<div id="our-work-dropdown"></div>
	<div id="container">
		<div id="header-text"><img src="assets/logo-transparent.gif" id='header-image'  alt="logo"></div>
		<div id="roundabout-main">
			<ul class="roundabout-elements" style="top: 150px;">
				<li id="roundabout-li-one"></li>
				<li id="roundabout-li-two"></li>
				<li id="roundabout-li-three"></li>
				<li id="roundabout-li-four"></li>
				<li id="roundabout-li-five"></li>
				<li id="roundabout-li-six"></li>
			</ul>
		</div>
	</div>
	<div id="about-us-dropdown"></div>
</div>