%a.twitter-share-button{"data-hashtags" => "Freeder", "data-count" => "none", "data-text" => "''#{twitter[:title]}''", "data-url" => "#{twitter[:url]}", :href => "http://twitter.com/share"} Tweet

%script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}