%h3
  =user.first_name
  =user.last_name
  -if current_user.role == 'admin'
    =button_to 'Delete User',user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
%p.user-feed-list
  =link_to 'View User Profile', user
  -user.user_categories_and_feeds.each do |key, value|
    %ul.user-feed-list
      %li
        =key
        |
      %br
