%h1 Users
%p
  = form_tag users_path, :method => :get, remote: true, id: :search_form do
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
#users.user-feed-list
  =render @users




