%h1 Users
.user-feed-list
%p
  = form_tag users_path, :method => :get, remote: true, id: :search_form do
    = text_field_tag :search, params[:search], id: :user_search_form, :placeholder => "Enter Search Details"
    = submit_tag "Search", :name => nil, class: "btn btn-info"
#users.user-feed-list
  =render @users
=paginate @users, theme: 'twitter-bootstrap'





