- if object.errors.any?
  #error_explanation.alert.alert-error
    %h4
      = pluralize(object.errors.count, "error")
      stopped this from being saved:
    %br
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg