<h4>Game Name</h4>
<div id="game-name"></div>
<div class="form-group">
    <label for='game-name'>Game Name</label>
    <input type='text' class="form-control" id='game-name'>
</div>

<button type="button" id="add-game-name" class="btn btn-default">Add Game Name</button>

<h4>Current Players</h4>
<div id="current-players"></div>
<div class="form-group">
    <label for='player-name'>Player Name</label>
    <input type='text' class="form-control" id='player-name'>
</div>
<button type="button" id="add-player" class="btn btn-default">Add Player</button>
<br>
<br>
<button type="button" id="start-game" class="btn btn-default">Start Game</button>