<div class="form-group">
    <label for='player-name'>Player Name</label>
    <input type='text' class="form-control" id='player-name'>
</div>
<div>
	<button type="button" id="new-game" class="btn btn-default">New Game</button>
	<button type="button" id="another-player" class="btn btn-default">Add Another Player</button>
	<button type="button" id="start-game" class="btn btn-default">Start Game</button>
	<button type="button" id="load-game" class="btn btn-default">Load Existing Game</button>
</div>