.homepage
  %h1 Homepage
  %h2 Login here:
  .login
    - if current_user
      = current_user.email
      = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign In", new_user_session_path
      = link_to "Register", new_user_registration_path