
  <div><%= link_to "Explore DJs", artists_path %></div>
  <div><%= link_to "Explore Mixes", mixes_path %></div>
  <div><%= link_to "Login", root_path %></div>
  <div><%= link_to 'Sign Up', new_artist_path %></div>



