<div id="homepage">
	<div id="main-nav-bar">
		<%= render 'layouts/menu' %>
  	</div>
	<div class="homepage-slide" id="slide-0">
		<div class="inner-border-blue">
			<div class="inner-border-brown" id="inner-border-brown-0"></div>
		</div>
		<div class="nav-arrow" id="nav-arrow-0"></div>
	</div>
	<div class="homepage-slide" id="slide-1">
		<div class="inner-border-blue">
			<div class="inner-border-brown" id="inner-border-brown-1"></div>
		</div>
		<div class="nav-arrow" id="nav-arrow-1"></div>
	</div>
	<div class="homepage-slide" id="slide-2">
		<div class="inner-border-blue">
			<div class="inner-border-brown" id="inner-border-brown-2"></div>
		</div>
		<div class="nav-arrow" id="nav-arrow-2"></div>
	</div>
	<div class="homepage-slide" id="slide-3">
		<div class="inner-border-blue">
			<div class="inner-border-brown" id="inner-border-brown-3"></div>
		</div>
		<div class="nav-arrow" id="nav-arrow-3"></div>
	</div>
	<div class="homepage-slide" id="slide-4">
		<div class="inner-border-blue">
			<div class="inner-border-brown" id="inner-border-brown-4"></div>
		</div>
		<div class="nav-arrow" id="nav-arrow-4"></div>
	</div>
	<div class="homepage-slide" id="slide-5">
		<div class="inner-border-blue">
			<div class="inner-border-brown" id="inner-border-brown-5"></div>
		</div>
		<div class="nav-arrow" id="nav-arrow-5"></div>
	</div>
</div>