<div class="homepage">
	<div id="header-text"></div>
	<div id="container">
		<div id="roundabout-main">
			<ul class="roundabout-elements">
				<li id="roundabout-li-one"></li>
				<li id="roundabout-li-two"></li>
				<li id="roundabout-li-three"></li>
				<li id="roundabout-li-four"></li>
				<li id="roundabout-li-five"></li>
				<li id="roundabout-li-six"></li>
			</ul>
		</div>
	</div>
</div>