<div id="homepage">
	<div class="homepage-slide" id="slide-0">
		<div class="inner-border-blue" id="inner-border-blue-0">

			<div class="inner-border-brown text-center" id="inner-border-brown-0">
				<%= image_tag "main-logo.jpg", class: "slide1-img logo" %>
				<div class="margin-5">
					<h2><span class="blue-font">MakeSense:</span> an open-source global community of passionate volunteers who use their skills, knowledge and experience to tackle business, design and technology problems facing social entrepreneurs
					</h2>	
				</div>
				
			</div>
		</div>
			<div class="nav-arrow" id="nav-arrow-0"></div>
			<div class="nav-arrow-point" id="nav-arrow-point-0"></div>
	</div>
	<div class="homepage-slide" id="slide-1">
		<div class="inner-border-blue" id="inner-border-blue-1">
			<div class="inner-border-brown" id="inner-border-brown-1">
				<div class="content">
					<%= image_tag "makesense_group.jpg", class: "slide2-img" %>
					<div class="text">
						<p>The UK hosts some of the most active MakeSense communities. It started in London in 2011 and now has 50 active members and 250 in our pool. </p>
						<p>We have delivered solutions for these and many others: </p>
						<ul>
							<li>OnPurpose</li>
							<li>O2 Think Big</li>
							<li>Ashoka</li>
							<li>Emerge</li>
							<li>Venture Lab</li>
							<li>StudentFunder</li>
							<li>MyBnK</li>
							<li>The DoNation</li>
							<li>Books for Syria</li>
							<li>Open Cinema</li>
							<li>The people’s Supermarket</li>
						</ul>	
					</div>
				
				</div>
			</div>
		</div>
		<div class="nav-arrow" id="nav-arrow-1"></div>
		<div class="nav-arrow-point" id="nav-arrow-point-1"></div>
	</div>
	<div class="homepage-slide" id="slide-2">
		<div class="inner-border-blue" id="inner-border-blue-2">
			<div class="inner-border-brown" id="inner-border-brown-2">
				<div class="content">
					<%= image_tag "we_make_sense.jpg" %>
					<div class="text">
					<p>Our main objective is to boost the impact of social entrepreneurs by connecting them with supercool individuals and enabling them to take up the challenges.</p>
					<p>More than 1000 people have participated and organised 60 challenge-solving events and 2 sensecamps these past 3 years. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-arrow" id="nav-arrow-2"></div>
		<div class="nav-arrow-point" id="nav-arrow-point-2"></div>
	</div>
	<div class="homepage-slide" id="slide-3">
		<div class="inner-border-blue" id="inner-border-blue-3">
			<div class="inner-border-brown" id="inner-border-brown-3">
				<div class="flex-video vimeo">
					<iframe src="//player.vimeo.com/video/75867641" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="nav-arrow" id="nav-arrow-3"></div>
		<div class="nav-arrow-point" id="nav-arrow-point-3"></div>
	</div>
	<div class="homepage-slide" id="slide-4">
		<div class="inner-border-blue" id="inner-border-blue-4">
			<div class="inner-border-brown" id="inner-border-brown-4">
				<div class="content">
					<!-- <%= image_tag "postits.jpg" %> -->
					<div class="text">
                				<p>In order to sustain an entrepreneurs’ social impact, we promote the concept of social business. Anywhere there is an issue in our society, we will be! We are a global community of happy activists with an impact on a local scale. </p>
						<p>MakeSense is not a startup, it is a movement! It is defined as an open project, meaning it is not owned by anyone, but open to everyone who is willing to take action. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-arrow" id="nav-arrow-4"></div>
		<div class="nav-arrow-point" id="nav-arrow-point-4"></div>
	</div>
	<div class="homepage-slide" id="slide-5">
		<div class="inner-border-blue" id="inner-border-blue-5">
			<div class="inner-border-brown" id="inner-border-brown-5"></div>
		</div>
		<div class="nav-arrow" id="nav-arrow-5"></div>
		<div class="nav-arrow-point" id="nav-arrow-point-5"></div>
	</div>
</div>