<div class="homepage">
  <div class="header-text">
    <h2><%= link_to "Enter Site", posts_path %></h2>
  </div>
<div class="container">
  <div class ="span10 offset1">
    <div id="myCarousel" class="carousel slide.carousel-fade">
      <div class="carousel-inner">
          <div class="active item">
            <img src="/assets/3.jpg">
              <div class="carousel-caption">
                <h3>Currently Touring Her Critically Acclaimed Album, <i>"The Sea Cabinet"</i></h3>
              </div>
          </div>

          <div class="item">
            <img src="/assets/1.jpg">
              <div class="carousel-caption">
                <h3>"Part folk pop, part music hall, part Jazz - and totally a law unto itself", <i>The Metro</i></h3>
              </div>
          </div>

          <div class="item">
            <img src="/assets/2.jpg">
              <div class="carousel-caption">
                <h3>" **** A cabinet of curiosities indeed", <i>The Independent"</i></h3>
              </div>
          </div>

          <div class="item">
            <img src="/assets/5.jpg">
              <div class="carousel-caption">
                <h3>" **** ...opens a new chapter in her creative story", <i>The Guardian"</i></h3>
              </div>
          </div>

          <div class="item">
            <img src="/assets/Ace.jpg">
              <div class="carousel-caption">
                <h3>" ***** Simply, a triumph", <i>The Morning Star"</i></h3>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>