
<div class="container">
  <div class='header'>FourFourForum</div>
    <div class="home1"><%= link_to "Explore DJs", artists_path %></div>
    <div class="home2"><%= link_to "Explore Mixes", mixes_path %></div>
    <div class="home3"><%= link_to "Login", login_path %></div>
    <div class="home4"><%= link_to 'Sign Up', new_user_path %></div>
</div>

