<div class="header-text">
  <h2>Contact Me</h2>
</div>
<div class="container">
  <div class="span9">
    
  
    <div class="span5">
      <h3>Tweet Me!</h3>
      <a class="twitter-timeline" href="https://twitter.com/gwynethherbert" data-widget-id="373535395180314624">Tweets by @gwynethherbert</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
    </div>

    <div class="span4">
      <h3>Get In Touch</h3>
        <ul class="management">
          <li><h5>Peter Conway Management</h5></li>
          <li><h5>158 Westcombe Hill | Blackheath | London | SE3 7DH</h5></li>
          <li><h5>t. +44 208 378 1012</h5></li>
          <li><h5>e. info@peterconwaymanagement.com</h5></li>
          <li>
            <h5>
              <iframe width="340" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SE3+7DH&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.981213,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=London+SE3+7DH,+United+Kingdom&amp;t=m&amp;ll=51.477748,0.018969&amp;spn=0.016037,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=SE3+7DH&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.981213,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=London+SE3+7DH,+United+Kingdom&amp;t=m&amp;ll=51.477748,0.018969&amp;spn=0.016037,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a>
              </small>
              
            </h5>
          </li> 
        </ul>

    </div>

  </div>
  <div class="span3">
    <%= render 'layouts/menu' %>
  </div>
</div>