h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p, ul, li, dl {
  font-family: $font-family-sans;
}

p {
  margin-bottom: 1em;
  font-family: $font-family-sans;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}