
// unfortuately best laid plans have their chips pissed on by JQuery CSS function!
var pageHeight = window.innerHeight,
pageWidth = window.innerWidth,
transform = "webkitTransform" || "transform",
transition = "webkitTransition" ||  "transition",
transEnd = "webkitTransitionEnd"

// call detectMob(); (function is in the application head), to detect a mobile device

$(document).ready(function(){
	var GLOBALS = {};
	GLOBALS.iterationCounter = 0;

// adding prevent scroll function if #no-scrolling is present anywhere
// this is for desktop and mob devices for homepage.
if ($(".no-scrolling").length > 0) {
	$('body').addClass('stop-scrolling');
	$('body').bind('touchmove', function(e){
		e.preventDefault()
	});
}

// TODO: check if this is being used at all
// render social media partial in menu bar
$('li#menu-sharing').mouseenter(function(){
	$('li#menu-sharing').css({
		height : "auto"
	})

	$('li#menu-sharing').append("<div id='social-partial-mini'></div>")

	$('#social-partial-mini').html(
		'<a href="https://www.facebook.com/sharer/sharer.php?u=' + location.href + 'title="Share on Facebook"><img src="/assets/facebook.png"></a>' +
		'<a href="https://twitter.com/intent/tweet?text=' + location.href + ' title="Share on Twitter"><img src="/assets/twitter.png"></a>' +
		'<a href="https://plus.google.com/share?url=' + location.href + ' title="Share on Google Plus"><img src="/assets/google+.png"></a>'
		);
});

$('li#menu-sharing').mouseleave(function(){
	$('#social-partial-mini').remove();
	$('li#menu-sharing').css({
		height : "30px"
	})
});



// homepage slides
function transitionSlides(pixels) {
	return {
		transform : "translate3d(0," + pixels + "px, 0)",
		transition : "all 0.5s ease-in-out"
	};
}

// main transition function
var numberOfSlides = $('.nav-arrow-point').length;
$('.nav-arrow-point').each(function(index, value){
	var transitionHeight = pageHeight;
	// we want the transitions to stop after 6 slides or 5 iterations of the transition
	if (index == numberOfSlides - 1)  {
		transitionHeight = -(pageHeight * ($('.homepage-slide').length - 1));
	}
	$('#nav-arrow-point-' + index).click(function(){
			// transitioning images
			$('#inner-border-brown-' + index).css({
				transitionDelay : "0.5s",
				transition : "all 0.5s ease-in-out",
				backgroundSize: "cover"
			})

			$('.homepage-slide').each(function(i, v){
				// stupid timeout hack to stop transition end firing on first element before last one has finished transitioning
     					// transitioninng slides and reseting top value to new postion on page
     					$('#slide-' + i).css( transitionSlides(transitionHeight) );

     					$('#slide-' + i).one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(e) {
     						$('#slide-' + i).css( "top", "+=" + transitionHeight );
     						$('#slide-' + i).css( transform, "");
     						$('#slide-' + i).css( transition, "");
     					});
     				});
		});
});


setTimeout( function() {
	if ($("#floating-sidebar").length > 0) {
		var offset = document.getElementById("main-column").getBoundingClientRect().top - document.getElementsByTagName("body")[0].getBoundingClientRect().top
		$("#floating-sidebar").affix({
			offset: offset
		});

	}
}, 300);


});