  
<div class="container">
  <div id="isotopecontainer">

  <div class="item-isotope"><img class="isotopeimage" src="/assets/1.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/2.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/3.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/5.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/1.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/2.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/3.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/5.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/1.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/2.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/3.jpg"></div>
  <div class="item-isotope"><img class="isotopeimage" src="/assets/5.jpg"></div>
  
</div>

</div>