<div class="container-blog">
<h3>Thanks For Registering!</h3>

<h5>Please confirm you are human by clicking on the link below:</h5>

<h5><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></h5>

<h5>This will redirct you to the site and you can access my treasures!</h5>

<h5>Lots of love,</h5>

<h5>Gwyn</h5>
</div>