/* CONTAINER */

.container{
  padding-top: 50px;
}


/* SIDEBAR */

.sidebar {
  padding: 10px;
  border: 2px;
  border-color: #333;
  border-style: solid;
}

.sidebar-logo {
  padding-top: 0;
  padding-bottom: 30px;
}

.sidebar-user {
  padding-bottom: 20px;
}

.sidebar-new-feed {
  padding: 8px;
  border: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
}


/* USER DETAILS */

.user-feed {
  padding: 8px;
  border: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

a.toggle-sidebar {
    position:fixed;
    left:0;
    bottom:0;
    display:block;
    color:white;
    padding:10px 20px;
}

.no-sidebar {
    margin-left:0 !important;
}