/* FONTS */




/* CONTAINER */

.container{
  padding-top: 50px;
}

.main {
  padding-top: 40px;
}

.twitter-share-button {
  margin-top: 5px;
}



/* HOMEPAGE */

.front-page {
  // background: image-url('rss-icon.jpg') no-repeat center;
}

.home-page-heading {
  text-align: center;
}

.home-page-body {
  padding-top: 70px;
}

.home-left {
  padding-right: 80px;
  float: left;
  h2{
    margin-bottom: 20px; 
  }
}

.home-text {
  color: #666666;
  font-size: 1.2em;
}

.home-right {
  margin-left: 0 !important;
  border-left: 1px solid #bfbfbf;
  padding-left: 102px;
  float: right;
}

.home-left-inner{
  min-height: 132px;
}

#user_email, #user_password {
  width: 345px;
  height: 24px;
  font-size: 16px;
  border: 1px solid #bfbfbf;
  padding: 5px;
  -moz-box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
  -webkit-box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
}

.sign-in-button, .sign-up-button {
  width: 357px !important;
  padding-top: 6px;
  padding-bottom: 6px;
}




/* SIDEBAR */

.sidebar {
  padding: 10px;
/*  border: 2px;
  border-color: #333;
  border-style: solid;*/
}

.sidebar-logo {
  padding-top: 0;
  padding-bottom: 30px;
}

.sidebar-user {
  padding-bottom: 20px;
}

.sidebar-new-feed {
  padding: 8px;
  border: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.sidebar-userdetails h6 {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1em;
}


/* USER DETAILS */

.user-details-name{

}

.user-details-name-left {
  float: left;
}

.user-details-name-right {
  float: right;
}

.user-feed-outer {
  margin-bottom: 20px;
  padding: 8px;
  border: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.user-favorite-outer {
  margin-bottom: 20px;
  border: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.user-feed-inner {
  border: 1px;
  border-color: #ddd;
  border-top-style:dotted;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:none;
}

.user-feed-inner p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.user-feed-inner-left{
  float: left;
}

.user-feed-inner-right {
  float: right;
  text-align: right;
}

#category-update {
  width: 150px;
  height: 14px;
  font-size: 0.8em;
  border: 1px solid #bfbfbf;
  padding: 3px;
  margin-top: 6px;
  margin-bottom: 0px;
}

#submit-category-update {
  margin-top: 5px;
}

#delete-feed-button, .public-toggle-button, .private-toggle-button, .submit-category-update {
  margin-top: 5px;
}

.feedurl {
  color: #8d8d8d;
  font-size: 0.85em;
  line-height: 1;
}

.lastupdate {
  color: #8d8d8d;
  font-size: 0.85em;
  line-height: 1;
}

a.toggle-sidebar {
    position:fixed;
    left:0;
    bottom:0;
    display:block;
    color:white;
    padding:10px 20px;
}

.no-sidebar {
    margin-left:0 !important;
}


/*FEED USER LIST*/

.user-feed-list {
}

ul.user-feed-list {
  font-size: 0.85em;
  line-height: 1;
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

p.user-feed-list {
  text-decoration: none;
  font-size: 0.85em;
}


/* ENTRY READING VIEW */

.entry-view {

}

.entry-view-header {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding-bottom: 40px;
}

.entry-view-body {
  font-family: 'Lora', serif;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  line-height: 1.6em;

  p {
    margin-bottom: 1.4em;
  }

}

.entry-view-entry-url, .entry-view-entry-info {
  font-size: 1.2em;
  color: #808080;
  font-weight: 300; 
}

.entry-view-entry-url {
  font-size: 1em;
  color: #808080;
}

.entry-view-entry-title {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-size: 3em;

  border: 1px;
  border-color: #ddd;
  border-top-style:solid;
  border-right-style:none;
  border-bottom-style:solid;
  border-left-style:none;
}



