/*Document*/

body {
background: url('/assets/shutterstock_126980567.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.header-text {
font-family: 'IM Fell DW Pica', serif;
text-shadow: 1px 1px #D8D8D8;
}

.header-text h1 {
font-size: 5em;
padding-top: 0.5em;
padding-left: 0.25em;
padding-bottom: 0.2;
}

.header-text h2 {
  padding-left: 5em;
  padding-top: 0.1em;
  text-decoration: none;
  text-color: #fff; 
}


a {
  color: #000000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

.span9 {
  margin-left:0 !important;
}


/*homepage*/
.carousel .item {
  -webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;
}
.carousel .active.left {
  left:0;opacity:0;z-index:2;
}
.carousel .next {
  left:0;opacity:1;z-index:1;
}

.carousel-caption h3 {
text-align: right;
color: #fff;
font-family: 'IM Fell DW Pica', serif;

}

.carousel-inner {

-webkit-box-shadow: 8px 8px 30px rgba(93, 67, 81, 0.85);
-moz-box-shadow:    8px 8px 30px rgba(93, 67, 81, 0.85);
box-shadow:         8px 8px 30px rgba(93, 67, 81, 0.85);

}

/*Menu*/

 .menu {
  font-family: 'IM Fell DW Pica', serif;
  text-shadow: 1px 1px #D8D8D8;
}

/*Blog*/

.container-blog {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5em;
  padding: 2em;
  -webkit-box-shadow: 8px 8px 30px rgba(93, 67, 81, 0.85);
  -moz-box-shadow:    8px 8px 30px rgba(93, 67, 81, 0.85);
  box-shadow:         8px 8px 30px rgba(93, 67, 81, 0.85);

}

.container-blog h2 {
  font-family: 'IM Fell DW Pica', serif;
}
.container-blog p {
  font-family: 'Lora', serif;
}

/*Photo Gallery*/

.header-text li {
  display: inline-block;
}

/*Isotope*/

.isotopepage {
  min-width: 20em;
  max-width: 58.75em;
  margin: 0 auto;
}

.item-isotope{
  height: 9.2em;
  width: 33.3%;
  padding: 
}

.item-isotope.large{
  height: auto;
  width: 100%;
}

.isotopeleft {
  float: left;  
  width: 70.212765957%;
  padding: 1.25em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5em;
  -webkit-box-shadow: 8px 8px 30px rgba(93, 67, 81, 0.85);
  -moz-box-shadow:    8px 8px 30px rgba(93, 67, 81, 0.85);
  box-shadow:         8px 8px 30px rgba(93, 67, 81, 0.85);
}

#isotopecontainer{

}

.isotopesidebar {
width: 23.404255319%;
  float: right;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* CLEARFIX */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
