/*html elements*/

body {
  background:url('background-texture.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Mouse Memoirs', sans-serif;
}

ul, dl, li, dd {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/*Main page elements*/

#container {
  width: 80%;
  margin-left: 10%;
}

#header-text {
  float: left;
  left: 5%;
  top: 5%;
  width: 10%;
  height: 10%;
  background:url('logo-transparent.gif') no-repeat fixed;
}

/*roundabout carousel*/

#roundabout-main {
/*  top: 10%;*/
}

.roundabout-holder {
  list-style: none;
  padding: 0;
  margin: 0;
  left: 15%;
  height: 500px;
  width: 70%;
/*    -webkit-transition: all 1s ease;  */
}
.roundabout-moveable-item {
  height: 100%;
  width: 80%;
  cursor: pointer;
  background-color: #ccc;
  border: 1px solid #999;
/*  -webkit-transition: all 1s ease;  */
}
.roundabout-in-focus {
  cursor: auto;
/*    -webkit-transition: all 5s ease;  */
}

#roundabout-li-one, #roundabout-li-two, #roundabout-li-three, #roundabout-li-four, #roundabout-li-five, #roundabout-li-six {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}