/* Screen widths */
$break-small: 320px;
$break-device: 765px;
$break-large: 1200px;
$red: rgb(221, 53, 48);
$dark-red: rgb(147, 30, 31);
$blue: rgb(19, 107, 157);
$dark-blue: rgb(29, 41, 91);

#sensecamp {
  .banner {
    width: 100%;
  }

  #sensecamp-nav-bar {
    width: 100%;
    float: left;
    overflow-x: hidden;
  }

  .affix {
    position: fixed;
    top: 50px;
  }

  #menu {
    width: 100%;
    padding-left: 20px;
    position: relative;
    height: auto;
    display: block;
    z-index: 0;
    float: left;

    ul {

      li {
        background-color: $dark-blue;
        list-style-type: none;
        padding: 7px 10px 10px 10px;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  #main-column {
  }

  /* retina  iPhone styles*/
  @media (max-width : $break-device) {
    #floating-sidebar {
      display: none;
    }
    #main-column {
      width: 100%;
    }
  }

  a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
  }
}

