<div class="header-text">
  <ul>
    <li><h2>My Music</h2></li>
    <li><h4>(...click to view tracks!)</h4></li>
  </ul>
</div>
<div class="isotopepage">
  <div class="isotopeleft">
    <div id="isotopecontainer">
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
      <div class="item-isotope"></div>
    </div>
  </div>
</div>
  <div class="isotopesidebar">
    <%= render 'layouts/menu' %>
  </div>
</div>