%h2 SIDEBAR
= link_to 'My Profile', my_profile_path
=form_tag create_feed_url do
  %div
    =label_tag :url, "Enter your feed URL here:"
    =text_field_tag :url, params[:url]

  %div
    =submit_tag "Submit"

