<div class="social-partial">
  <ul class="social">
    <li class="facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.url %>" title="Share on Facebook">Like</a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/intent/tweet?text=<%= request.url %>" title="Share on Twitter">Tweet</a>
    </li>
    <li class="googleplus">
      <a href="https://plus.google.com/share?url=<%= request.url %>" title="Share on Google Plus">+1</a>
    </li>
    <li class="email">
      <a href="" title="Share on Email">Email</a>
    </li>
  </ul>
</div>