<!DOCTYPE html>
<html>
<head>
  <title>Sense Camp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
  <link href='/' rel='icon' type='image/x-icon' />
 <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header-text">
  <h1>Sense Camp</h1>
</div>
    <%= yield %>

</body>
</html>
