<h1>My Recipe Folder</h1>
<h2>Yum, Yum, Yum!</h2>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to 'Enter New Recipe', new_recipe_path(method: :create) %>
      <li><%= link_to 'Recipe Folder', show_recipe_path(method: :show) %>
    </ul>
  </div>
</div>


